Repository Qiskit/textbook: changes, and which pre-commit hooks are due for each by the changed paths.
All: toc-yaml, nb-metadata, nb-svg

toc-yaml:
  name: Check notebooks/toc.yaml is valid
  language: system
  entry: python tests/passes/toc.py

nb-metadata:
  name: Reset notebook metadata
  language: system
  entry: python tests/passes/nb_metadata.py --fix --git-add

nb-svg:
  name: Minimize notebook SVGs
  language: system
  entry: python tests/passes/nb_svg.py --fix --git-add

Improve docs
  README.md
  tests/README.md
Due: none

First workflow
  .github/workflows/test.yml
  install.sh
Due: none

Update notebook (should pass CI)
  notebooks/intro/grover-intro.ipynb
Due: nb-metadata, nb-svg

tweak action
  .github/workflows/test.yml
Due: none

tweak workflow
  .github/workflows/test.yml
Due: none

Introduce errors into notebook
  notebooks/intro/grover-intro.ipynb
Due: nb-metadata, nb-svg

Fix formatting
  notebooks/intro/grover-intro.ipynb
Due: nb-metadata, nb-svg

Fix linter error
  notebooks/intro/grover-intro.ipynb
Due: nb-metadata, nb-svg

Fix prose error
  notebooks/intro/grover-intro.ipynb
Due: nb-metadata, nb-svg

Fix all errors and test without pip cache
  .github/workflows/test.yml
  notebooks/intro/grover-intro.ipynb
Due: nb-metadata, nb-svg

Add pull request test action
  .github/workflows/test.yml
Due: none

Improve TOC validation
  .pre-commit-config.yaml
  tests/passes/toc.py
Due: none

Unify notebooks folder with platypus
  notebooks/ch-gates/basic-circuit-identities.ipynb
  notebooks/ch-gates/overview/basic-circuit-identities.png
  notebooks/toc.yaml
Due: toc-yaml, nb-metadata, nb-svg

Add script to release meta package
  README.md
  release_meta.sh
Due: none

Improve release script
  release_meta.sh
Due: none

Update toc
  notebooks/toc.yaml
Due: toc-yaml

Adapt for linux
  install.sh
Due: none

Update issue templates
  .github/ISSUE_TEMPLATE/content-improvement.md
  .github/ISSUE_TEMPLATE/content-inaccuracy.md
  .github/ISSUE_TEMPLATE/contribution-problem.md
Due: none

Update issue templates
  .github/ISSUE_TEMPLATE/content-improvement-🚀.md
  .github/ISSUE_TEMPLATE/content-inaccuracy-😮.md
  .github/ISSUE_TEMPLATE/contribution-problem-💻.md
Due: none

Update issue templates
  .github/ISSUE_TEMPLATE/contribution-issue-💻.md
  .github/ISSUE_TEMPLATE/improvement-🚀.md
  .github/ISSUE_TEMPLATE/inaccuracy-😮.md
Due: none

Create config.yml
  .github/ISSUE_TEMPLATE/config.yml
Due: none

Neaten issue templates
  .github/ISSUE_TEMPLATE/01-inaccuracy-😮.md
  .github/ISSUE_TEMPLATE/02-improvement-🚀.md
  .github/ISSUE_TEMPLATE/03-contribution-issue-💻.md
  .github/ISSUE_TEMPLATE/config.yml
Due: none

Update contributing guide
  CONTRIBUTING.md
  README.md
Due: none

Improve based on feedback
  CONTRIBUTING.md
Due: none

Improve CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

Improve contributing guide based on testing
  CONTRIBUTING.md
Due: none

Fix problem with absolute paths & neaten a bit
  tests/passes/toc.py
Due: none

Add quick guide for experienced users
  CONTRIBUTING.md
  README.md
Due: none

vqe moecules update - primitives, qiskit-nature upgrade (0.5.2)
  environment/requirements.txt
  notebooks/ch-applications/vqe-molecules.ipynb
Due: nb-metadata, nb-svg

finalize vqe molecules update
  notebooks/ch-applications/vqe-molecules.ipynb
Due: nb-metadata, nb-svg

resolving pr issues
  notebooks/ch-applications/vqe-molecules.ipynb
Due: nb-metadata, nb-svg

resolving PR issues -trailing whitespaces
  notebooks/ch-applications/vqe-molecules.ipynb
Due: nb-metadata, nb-svg

resolve wording IBMQ -> IBM Quantum
  notebooks/ch-applications/vqe-molecules.ipynb
Due: nb-metadata, nb-svg

Adding localization guidelines
  LOCALIZATION_CONTRIBUTORS
  TRANSLATING.md
Due: none

resolve PR comments: ommit error mitigation & 'matrix','pauli' kwargs in VQE mention in markdown cells and Aer simulator import in code cell
  notebooks/ch-applications/vqe-molecules.ipynb
Due: nb-metadata, nb-svg

Initial commit for v1.x
  CODE_OF_CONDUCT.md
  LICENSE
  README.md
Due: none

Path conditions:
  toc-yaml: any of: notebooks/toc.yaml
  nb-metadata: any of: (.*?).ipynb$
  nb-svg: any of: (.*?).ipynb$
